<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.amo1.mapper.ChatMapper">
  <resultMap id="BaseResultMap" type="com.example.amo1.model.Chat">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="recipient_id" jdbcType="INTEGER" property="recipientId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.amo1.model.Chat">
    insert into chat (id, send_time, sender_id, 
      recipient_id, content)
    values (#{id,jdbcType=INTEGER}, #{sendTime,jdbcType=VARCHAR}, #{senderId,jdbcType=INTEGER}, 
      #{recipientId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.amo1.model.Chat">
    update chat
    set send_time = #{sendTime,jdbcType=VARCHAR},
      sender_id = #{senderId,jdbcType=INTEGER},
      recipient_id = #{recipientId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, send_time, sender_id, recipient_id, content
    from chat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, send_time, sender_id, recipient_id, content
    from chat
  </select>

  <select id="getAll" parameterType="com.example.amo1.model.Chat" resultMap="BaseResultMap">
    select *
    from chat
    where (sender_id = #{send_id,jdbcType=INTEGER} and recipient_id = #{recipient_id,jdbcType=INTEGER})
    or (sender_id = #{recipient_id,jdbcType=INTEGER} and recipient_id = #{send_id,jdbcType=INTEGER})
  </select>
</mapper>