<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.amo1.mapper.CollectionDataMapper">
  <resultMap id="BaseResultMap" type="com.example.amo1.model.CollectionData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manuscript_id" jdbcType="INTEGER" property="manuscriptId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collection_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUser" parameterType="com.example.amo1.model.CollectionData">
    delete from collection_data
    where manuscript_id = #{manuscriptId,jdbcType=INTEGER} and
      user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.amo1.model.CollectionData">
    insert into collection_data (id, manuscript_id, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{manuscriptId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.amo1.model.CollectionData">
    update collection_data
    set manuscript_id = #{manuscriptId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, manuscript_id, user_id
    from collection_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, manuscript_id, user_id
    from collection_data
  </select>
  <select id="selectByUser" parameterType="com.example.amo1.model.CollectionData" resultMap="BaseResultMap">
    select id, manuscript_id, user_id
    from collection_data
    where manuscript_id = #{manuscriptId,jdbcType=INTEGER} and
      user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>