<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.amo1.mapper.FirstCommentMapper">
  <resultMap id="BaseResultMap" type="com.example.amo1.model.FirstComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manuscript_id" jdbcType="INTEGER" property="manuscriptId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="love" jdbcType="INTEGER" property="love" />
    <result column="commentDate" jdbcType="TIMESTAMP" property="commentdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from first_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.amo1.model.FirstComment">
    insert into first_comment (id, manuscript_id, user_id, content, love, commentDate)
    values (#{id,jdbcType=INTEGER}, #{manuscriptId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{love,jdbcType=INTEGER}, #{commentdate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.amo1.model.FirstComment">
    update first_comment
    set manuscript_id = #{manuscriptId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      love = #{love,jdbcType=INTEGER},
      commentDate = #{commentdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, manuscript_id, user_id, content, love, commentDate
    from first_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, manuscript_id, user_id, content, love, commentDate
    from first_comment
  </select>
  <select id="selectByManuscriptId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, manuscript_id, user_id, content, love, commentDate
    from first_comment
    where manuscript_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>