<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.amo1.mapper.HistoryMapper">

    <resultMap id="HistoryMap" type="com.example.amo1.model.History">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="manuscript_id" jdbcType="INTEGER" property="manuscript_id" />
        <result column="check_time" jdbcType="VARCHAR" property="check_time"/>
    </resultMap>


    <delete id="delete" parameterType="java.lang.Integer">
    delete from history
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.example.amo1.model.History"
            useGeneratedKeys="true" keyProperty="id">
    insert into history(user_id,manuscript_id,check_time)
    values (#{user_id,jdbcType=INTEGER}, #{manuscript_id,jdbcType=INTEGER}, #{check_time,jdbcType=VARCHAR})
  </insert>

    <select id="getAllHistoryOfAUser" parameterType="java.lang.Integer" resultMap="HistoryMap">
    select *
    from history
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>

</mapper>