<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.amo1.mapper.ManuscriptMapper">
  <resultMap id="BaseResultMap" type="com.example.amo1.model.Manuscript">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pulishDate" jdbcType="TIMESTAMP" property="pulishdate" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <association property="manuscriptData" column="id" javaType="ManuscriptData">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="love" jdbcType="INTEGER" property="love" />
      <result column="forward" jdbcType="INTEGER" property="forward" />
      <result column="comment" jdbcType="INTEGER" property="comment" />
      <result column="collection" jdbcType="INTEGER" property="collection" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manuscript
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.amo1.model.Manuscript"
          useGeneratedKeys="true" keyProperty="id">
    insert into manuscript (id, user_id, username, 
      pulishDate, content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{pulishdate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.amo1.model.Manuscript">
    update manuscript
    set user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      pulishDate = #{pulishdate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ms.id, ms.user_id, ms.username, ms.pulishDate, ms.content, msd.love, msd.forward, msd.comment, msd.collection
    from manuscript ms
    inner join manuscript_data msd on ms.id = msd.id
    where ms.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, username, pulishDate, content
    from manuscript
  </select>
</mapper>