<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.amo1.mapper.TagMapper">

    <resultMap id="TagMap" type="com.example.amo1.model.Tag">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="list_id" jdbcType="INTEGER" property="list_id" />
        <result column="tag" jdbcType="VARCHAR" property="tag" />
    </resultMap>

    <delete id="deleteAll" parameterType="java.lang.Integer">
    delete from tag
    where list_id = #{list_id,jdbcType=INTEGER}
  </delete>

    <delete id="deleteOne" parameterType="com.example.amo1.model.Tag">
    delete from tag
    where list_id = #{list_id,jdbcType=INTEGER} and tag = #{tag,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.example.amo1.model.Tag"
            useGeneratedKeys="true" keyProperty="id">
    insert into tag(list_id,tag)
    values (#{list_id,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR})
  </insert>

    <select id="getAllTag" parameterType="java.lang.Integer" resultType="java.lang.String">
    select tag
    from tag
    where list_id = #{list_id,jdbcType=INTEGER}
  </select>

</mapper>